.errorDialog {
    width: 300px;
    left: 50%;
    top: 40%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: center;
    background-color: #eee;
    transform: translate(-50%,-50%);
}

.errorDialog[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorDialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

