.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.buttons > button {
    font-size: 18px;
}

.buttons > button:first-child {
    background-color: rgba(0,0,0,0);
    color: black;
}

form {
    padding-top: 30px;
}

label {
    display:block;
    color: #414041;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

input, textarea {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #9B9A99;
    background-color: rgba(0,0,0,0);
    margin-bottom: 15px;
}

input {
    height: 30px;
}

textarea {   
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
    height: 60px;
}
