.notSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    margin-top: 100px;
}

.notSelected > img {
    width: 50px;
    height: 50px;
}

.notSelected > p {
    color: #9B9A99;
}

.notSelected > h2 {
    color: #414041;
    text-transform: uppercase;
    letter-spacing: 1px;
}