/* Your projects section */
.projects {
    width: 20vw;
    height: 100vh;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    background-color: #110D0D;
    box-sizing: border-box;
}

.projects > h2 {
    color: #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects > h2:hover {
    cursor: pointer;
}

.projectSection {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: start;
    row-gap: 5px;
    flex-direction: column;
}