* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

button:hover {
    cursor: pointer;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #332E2B;
    color: #97928F;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    transition: 0.15s all ease-in-out;
}

.button:hover {
    background-color: #443F3C;
}

.header {
    color: #414041;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.button > span {
    font-size: 14px;
}

.panelButton {
    background-color: rgba(0,0,0,0);
    color: #97928F;
    overflow: hidden;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 40px;
    text-align: left;
    border-left: 2px solid #332E2B;
    transition: 0.15s all ease-in-out;
}

.panelButton:hover {
    background-color: #332E2B;
}

.buttonActive {
    background-color: #332E2B;
}
